@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}
.wrap {
    width: 1140px;
    outline: 1px solid red;
    margin: 0 auto;
}
.header {
    background-color: #222222;
    color: #fff;
    padding: 19px 0;
}
.header-wrap {
    display: flex;
    justify-content: space-between;
}
.left_element {
    margin-right: 41px;
}

.right_element {
    margin-left: 33px;
}
.promo {
    background: #F1E4E6;
}
.promo_block {
    display: flex;
}
.prew_men {
  width: 50%;
}
.brand {
  display: flex;
  align-items: center;
}
.category_group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.category_block {
    
}
.category_other {
    display: flex;
    flex-grow: 1;
}
.content {
    background: #E5E5E5;
    flex-grow: 1;
}
.content_looc_block {
  display: flex;
  flex-direction: column;
 
}
.content_looc_block1 {
  display: flex;
  justify-content: space-around;
}
.content_looc_block2 {
  display: flex;
  justify-content: space-around;
}
.content_heading {
  font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #222222;
text-align: center;
margin-top: 96px;
margin-bottom: 6px;
}
.content_p {
font-weight: 400;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #9F9F9F;
margin-top: 0px;
margin-bottom: 57px;
}
.heading_mini{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.content_text {
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
width: 306px
}
.content_sale {
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
}
.product_submit {
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F26376;
text-decoration: none;
display: flex;
justify-content: center;
margin-top: 63px;
margin-bottom: 95px;
border: 1px solid #FF6A6A;
padding: 14px 38px;
}
.offer_block {
    display: flex;
    justify-content: space-around;  
}
.offer {
    display: block;
    align-items: center;
    width: 330px;
    margin-top: 104px;
    margin-bottom: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speshial_offer{
    background-color: #222;
    color: #fff;
}
.footer {
    background-color: #222;
    color: #fff;
}
.footer_block {
    display: flex;
    justify-content: space-between;
}
.footer_text {
    margin: 30px 0;
}
.social_img {
    margin: 24px 0;
}
.footer_element {
    margin-left: 7px;
}